<%= turbo_stream_from :user_listing %>
<div class='overflow-auto'>
  <table class="users-listing table table-bordered table-responsive table-hover mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Followers</th>
        <th scope="col">Following</th>
        <th scope="col">Stars</th>
        <th scope="col">Contributions</th>
        <th scope="col">Organization</th>
        <th scope="col">Localization</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody is='turbo-frame' id='user_listing'>
      <%= render partial: 'users/user', collection: @users, as: :user  %>
    </tbody>
  </table>
</div>
