<div class='user-registration-container mt-3'>
  <div class="card">
    <h3 class="card-title text-center"><%= t('.title') %></h3>
    <div class="card-body">
      <%= render 'users/form', user_form: @form %>
    </div>
  </div>
</div>
