<%= turbo_stream_from @user %>
<div class='actions text-end mt-3'>
  <%= back_button(I18n.t('helpers.buttons.back'), url: @user.page_navigation.users_link, data: { turbo: false }) %>
</div>
<%= render 'users/info', user: @user %>
