<div class='user-registration-container mt-3'>
  <div class="card">
    <h3 class="card-title text-center"><%= t('.title') %></h5>
    <div class="card-body">
      <%= render 'user_registration/form', user_model: @form %>
    </div>
  </div>
</div>
