<% flash.each do |name, msg| %>
  <div class="<%= flash_class(name) %> alert-dismissible fade show mt-3" role="alert">
    <strong class="text-center"><%= msg %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
